.gagUploadContainer {
    padding: 15px;
    display: block;
    width: 60%;
    margin: 0 auto;
    min-width: 315px;
    margin-top: 100px !important;
    margin-bottom: 20px !important;
}

.preview-img {
    max-height: 300px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}